<div class="center">
{{#if username}}
  <h1>Hello <b>{{ username }}!</b></h1>
<br>
<br>
  <h2><a href="/friends/friends-list">Here you can see your friends!</a></h2>
  
{{else}}
  <p>Still no logged in user, sorry!</p>
{{/if}}
</div>