<h1>Add a friend</h1>

<form action="/friends/add-friend" method="post">
    <input type="text" name="friendName" placeholder="Enter your friend name..." >
    <input type="text" name="friendSurname" placeholder="Enter your friend surname." >
    <input type="date" name="birthday"  >
    <input type="text" name="city" placeholder="Enter your friend city" >
    <input type="text" name="avatar" placeholder="Upload friend's photo." >
    <button type="submit">Add Friend</button>
</form>