<div class="center">
<h1 class="homepage-title" > Give &nbsp;Gift</h1>
<br>
<br>
<br>
<h3>Welcome to the app where you can keep track of gifts to give to your friends!</h3>
<br>
<h3>Signup to start adding your friends and the gifts they might like!</h3>
</div>