<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
    {{#if loggedIn}}
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/auth/profile">Profile</a></li>
          <li><a href="/friends/add-friend">Add friend</a></li>
          <li><a href="/friends/friends-list">Friends list</a></li>
          <li><a href="/presents/create">Create present</a></li>
          <li><a href="/presents/list">Presents list</a></li>
          <li>
             <form action="/auth/logout" method="post">
                <button type="submit">Logout</button>
             </form>
          </li>
        </ul>
         
      </nav>
     {{else}}
     <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/auth/signup">Signup</a></li>
          <li><a href="/auth/login">Login</a></li>
        </ul>
         
      </nav>
      
     {{/if}}

          

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>