body {
  padding: 50px;

  font: 14px 'Montserrat', sans-serif;
  color: #3E8BAA;
  background-color: #E9DDC6;
  

}

/* colors
blue gradient
#ffffff, #bbd6e1, #82b4c8, #40768c
backgorund #E9DDC6;
*/

a {
  text-decoration: none;
  color: #3E8BAA;
}


h1 {
  font-size: 5em;
}

.navbar {
  border-radius: 15px;
}
.nav, .navbar-brand, .navbar-nav {
  --bs-nav-link-color: #19333c;
  --bs-nav-link-hover-color: #40768c;
  --bs-navbar-brand-color: none;
}

input[type=text] {
  padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
input[type=date] {
  padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
input[type=password] {
  padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}
select {
  padding: 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    margin-left: 10px;
}

.form {
  display: flex;
  align-items: center;
}

.homepage-title {
  
  font-size: 115px;
  background: -webkit-linear-gradient(0deg, #ffffff, #bbd6e1, #82b4c8, #40768c );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 160px;
  margin-top: 160px;
}


.center {
  font-family: 'Montserrat', sans-serif;
  color: #3E8BAA;
  height: 800px;
  /* background: url(https://cdn.mos.cms.futurecdn.net/Nr6W2YcVvepZGyDaShd8wU.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registration{
  font-family: 'Montserrat', sans-serif;
  color: #3E8BAA;
  height: 800px;
  background: url(https://wallpaperaccess.com/full/1693777.jpg);
  border-radius: 2%;
  margin-top: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  
}
.signup, .login {
  margin-bottom: 350px;
}

.createFriend {
  font-family: 'Montserrat', sans-serif;
  color: #3E8BAA;
  height: 800px;
  /* background: url(https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZnJpZW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-primary, .btn-danger, .btn-warning, .btn-dark  {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;

  --bs-btn-bg: #40768c;
  --bs-btn-border-color: #40768c;

  --bs-btn-hover-bg: #19333c;
  --bs-btn-hover-border-color: #19333c;
}

.createPresent{

  font-family: 'Montserrat', sans-serif;
  color: #3E8BAA;
  height: 800px;
  /* background: url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_845301446_385027.jpg); */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.edit-delete {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.edit-button {
  margin-right: 15px;
  
}

.friends-list {
  font-family: 'Montserrat', sans-serif;
  color: #3E8BAA;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  padding: 0px;
}
.second-title {
  margin-top: 3rem;
 margin-bottom: 2.5rem;
}


.friend {
  height: 400px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: #bbd8e161;
  border-radius: 20px;
  padding: 15px;
  margin-right: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
  

}

.img {

  height: 100px;
  
  border-radius: 20px;
}

.img-friend {
  height: 100px;
  
  border-radius: 75px;

}