<h2>Create a new present</h2>

<form action="/presents/create" method="post">
    <input type="text" name="presentName" placeholder="Enter the name of your present">
    <input type="text" name="description" placeholder="Enter the description">
    <input type="text" name="motivations" placeholder="Enter the motivations">
    <input type="text" name="imageUrl" placeholder="Image here">
    <button type="submit">Submit present</button>
</form>