<div class="createPresent">
<h1>Any <b>ideas</b> for a <b>gift</b>? Signal here!</h1>
<br><br><br>
<form class="form" action="/presents/create" method="post">
    <input type="text" name="presentName" placeholder="Present's name">
    <input type="text" name="description" placeholder="Present's description">
    <input type="text" name="motivations" placeholder="Present's motivation">
    <input type="text" name="imageUrl" placeholder="Image here">
    <button type="submit" class="btn btn-primary">Add present</button>
</form>
</div>